.home {
  height: 100%;
  width: 100%;
}
.mainLayout {
  display: flex;
  width: 100%;
  padding: 5% 10% 5% 10%;
  align-items: flex-start;
}

.block1 {
  width: 50%;
  margin: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.block2 {
  width: 50%;
  flex: 1;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
}
.searchResult {
  background-color: white;
  margin-top: 10%;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .mainLayout {
    flex-direction: column;
    padding: 0px;
  }
  .block1,
  .block2 {
    width: 90%;
  }
  .block1 {
    padding: 0px;
  }
}
